#输出到日志文件
#log4cplus.logger.rootLogger =TRACE, ERROR, DEBUG, WARN, INFO, ALL 
log4cplus.logger.rootLogger = INFO, ALL 
################################INFO####################################
#设置日志追加到文件尾
log4cplus.appender.ALL=log4cplus::TimeBasedRollingFileAppender
log4cplus.appender.ALL.FilenamePattern=D:\Virtual-hardware\HyParkingSystem\Release\logs\%d{yyyy-MM-dd}\%d{yyMMdd}.log
#log4cplus.appender.ALL.FilenamePattern=/logs/%d{yyMMdd}.%i.log
log4cplus.appender.ALL.Schedule=DAILY
#设置日志文件大小
log4cplus.appender.ALL.MaxFileSize=200K
#日志保存天数
log4cplus.appender.ALL.MaxHistory=20
log4cplus.appender.ALL.file.encoding=GB2312
log4cplus.appender.ALL.Appender.Locale=Chinese_China.936
log4cplus.appender.ALL.Append=true
log4cplus.appender.ALL.RollOnClose=false
log4cplus.appender.ALL.CreateDirs=true

#设置生成日志最大个数
log4cplus.appender.ALL.MaxBackupIndex=100
#log4cplus.appender.ALL.Encoding=utf-8
log4cplus.appender.ALL.layout=log4cplus::PatternLayout
 
#设置日志打印格式
log4cplus.appender.ALL.layout.ConversionPattern=[%D{%Y-%m-%d %H:%M:%S,%q} %-5p] --- %m%n   
#log4cplus.appender.ALL.layout.ConversionPattern=%D{%Y-%m-%d %H:%M:%S,%Q} [%l] [%-5p]---%m%n

#指定消息输出的级别，这边使用的是Range，指定范围，在这个范围内都可以使用。
#log4cplus.appender.ALL.filters.1 = log4cplus::spi::LogLevelRangeFilter
#log4cplus.appender.ALL.filters.1.LogLevelMin = TRACE
#log4cplus.appender.ALL.filters.1.LogLevelMax = FATAL

#匹配相同日志级别，只有INFO日志才输入到该文件中
#log4cplus.appender.ALL.filters.1=log4cplus::spi::LogLevelMatchFilter
#log4cplus.appender.ALL.filters.1.LogLevelToMatch=DEBUG
#log4cplus.appender.ALL.filters.1.AcceptOnMatch=true
#log4cplus.appender.ALL.filters.2=log4cplus::spi::DenyAllFilter