log4cplus.logger.rootLogger = INFO, ALL
log4cplus.appender.ALL=log4cplus::SizeAndTimeBasedRollingFileAppender
log4cplus.appender.ALL.FilenamePattern = E:\logs\hardware\%d{yyyy-MM-dd}\%d{yyMMdd}.log
log4cplus.appender.ALL.Schedule = DAILY
log4cplus.appender.ALL.MaxFileSize = 200KB
log4cplus.appender.ALL.MaxBackupIndex = 13
log4cplus.appender.ALL.file.encoding = GB2312
log4cplus.appender.ALL.Appender.Locale = Chinese_China.936
log4cplus.appender.ALL.Append = true
log4cplus.appender.ALL.RollOnClose = false
log4cplus.appender.ALL.CreateDirs = true 
log4cplus.appender.ALL.layout = log4cplus::PatternLayout
log4cplus.appender.ALL.layout.ConversionPattern = [%D{%Y-%m-%d %H:%M:%S,%q} %-5p][%-5t] --- %m%n
